@page "/"
@inject IJSRuntime JS

<div class="row align-items-center h-100">
    <div class="col-9 d-flex justify-content-center">
        <canvas id="mycanvas" height=700 width=1300></canvas>
    </div>
    <div class="col-3 justify-content-center">
        <p>Add Constant Node</p>
        <div class="row controls">
            <input type="number" placeholder="Node value" @bind="nodeValue" />
        </div>
        <div class="row controls">
            <input type="text"  placeholder="Unique node name" @bind="nodeName" />
        </div>
        <div class="row controls">
            <button @onclick="@SetConstantNode">Add node</button>
        </div>

    </div>
</div>

@code {
    private int? nodeValue;
    private string ?nodeName;
    private int positionX = 100;
    private int positionY = 100;

    async void SetConstantNode()
    {
        if (nodeValue == null){
        await JS.InvokeVoidAsync("SetConstantNode", nodeName, 1, positionX, positionY);
        }
        else{
            await JS.InvokeVoidAsync("SetConstantNode", nodeName, nodeValue, positionX, positionY);
        }
        if (positionX<1200){
            positionX+=40;
        }
        else{
            positionY+=40;
        }
    }
}