@page "/"
@inject IJSRuntime JS

<div class="row align-items-center h-100">
    <div class="col-9 d-flex justify-content-center">
        <canvas id="mycanvas" height=700 width=1300></canvas>
    </div>
    <div class="col-3 justify-content-center">
        <p>Add Constant Node</p>
        <input type="number" placeholder="Enter node value" @bind="inputValue" />
        <button @onclick="@SetConstantNode">Add node</button>
    </div>
</div>

@code {
    private int? inputValue;

    async void SetConstantNode()
    {
        if (inputValue == null){
        await JS.InvokeVoidAsync("SetConstantNode", "node_const3", 1, 100, 100);
        }
        else{
            await JS.InvokeVoidAsync("SetConstantNode", "node_const3", inputValue, 100, 100);
        }
    }
}