@page "/page"

<h3>Timer: @Timer</h3>

@code {
    [Parameter] 
    public int Timer { get; set; } = 5000;

    public async void StartTimerAsync()
    {
        while (Timer > 0)
        {
            Timer--;
            StateHasChanged();
            await Task.Delay(1000);
        }
    }

    protected override void OnInitialized()
        => StartTimerAsync();
}