<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="">Blazor Litegraph</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link justify-content-center" href="" Match="NavLinkMatch.All">
                <h5 style="margin-top: 0.5rem;">Sample</h5>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link justify-content-center" href="new_canvas_1">
                <h5 style="margin-top: 0.5rem;">New canvas 1</h5>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link justify-content-center" href="new_canvas_2">
                <h5 style="margin-top: 0.5rem;">New canvas 2</h5>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link justify-content-center" href="new_canvas_3">
                <h5 style="margin-top: 0.5rem;">New canvas 3</h5>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link justify-content-center" href="new_canvas_4">
                <h5 style="margin-top: 0.5rem;">New canvas 4</h5>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link justify-content-center" href="new_canvas_5">
                <h5 style="margin-top: 0.5rem;">New canvas 5</h5>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
